* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
/*    width: 700px;*/
/*    margin: auto;*/
    background-color: rgba(69, 71, 74, 0.66);
}

/*медиа свойства - адаптивность*/
/*будет работать для экранов которые больше чем 500 px*/
@media (min-width: 500px) {
    #container-header {
        /*распологает блоки в ряд*/
        display: flex;
        flex-direction: row;
        height: 30px;
        background-color: #FFA500;
        /*обрезает блоки по тексту, прижимает к верху*/
        /*align-items: flex-start;*/
        /*если написано, то дочерние блоки не принимают размер родителя*/
/*        align-items: center;*/
        /*расположение блоков по центру*/
/*        justify-content: center;*/
        /*скрывать всё что не помещается в блок*/
        overflow: hidden;
        /*убирает перенос строк*/
        /*white-space: nowrap;*/
        /*добавляет многоточие*/
        /*text-overflow: ellipsis;*/
    }
}


.ssilka:hover{
    background-color: yellow;
    cursor: pointer;
    background-color: #FF8C00;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition-duration: 0.5s;
    color: white;
}

#container-content {
    display: flex;
    flex-direction: row;
/*    background-color: #5f645b;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 1000px;
/*    height: 2000px;*/
}

.box-styles {
/*    border: 1px solid black;*/
}

#box-1 {
    /*изменяет размерность блока относительно других*/
    flex: 1;
    /*меняет положение блока относительно других*/
    /*	order: 2;*/
    background-color: #5f645b;
}

#box-2 {
    flex: 3;
    margin-left: 10px;
/*    height: 1000px;*/
    background-color: #5f645b;
}

#box-3 {
    flex: 1;
    margin-left: 10px;
    background-color: #5f645b;

}

#container-bottom {
    display: flex;
    flex-direction: row;
}

#header-box1 {
    flex: 1;
/*    height: 100%;*/
}

#header-box2 {
    flex: 3;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#header-box3 {
    flex: 1;
    margin-left: 10px;
}


.ssilka {
    display: flex;
/*    justify-content: center;*/
    width: 100%;
    height: 100%;
    transition-duration: 0.5s;
/*    если есть распологает ребенка по середине, горизонтально*/
    justify-content: center;
/*    если есть то распологает ребенка внтури блока, по центу*/
    align-items: center;
    text-align: center;
}

h1{
    margin-top: 50%;
}

/*Кнопка вверх*/
#toTop {
    width:100px;
    border:1px solid #ccc;
    background:#f7f7f7;
    text-align:center;
    padding:5px;
    position:fixed;
    bottom:10px; /* отступ кнопки от нижнего края страницы*/
    right:10px;
    cursor:pointer;
    display:none;
    color:#333;
    font-family:verdana;
    font-size:11px;
}

#header-box2>div{
    flex: 1;
}

/*модальное окно*/
#modal_form {
	width: 300px; 
	height: 300px; /* Рaзмеры дoлжны быть фиксирoвaны */
	border-radius: 5px;
	border: 3px #000 solid;
	background: #fff;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 50%; /* пoлoвинa экрaнa слевa */
	margin-top: -150px;
	margin-left: -150px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 20px 10px;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
#modal_form #modal_close {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}
/* Пoдлoжкa */
#overlay {
	z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.8; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
}
#forma-otpravki-dannih {
    display: flex;
    flex-direction: column;
/*    justify-content: center;*/
    width: 100%;
    height: 100%;
/*    если есть распологает ребенка по середине, горизонтально*/
    justify-content: center;
/*    если есть то распологает ребенка внтури блока, по центу*/
    align-items: center;
    text-align: center;
}

.functions {
    flex-direction: column;
    height: 60px;
    background-color: #FFA500;
    margin-bottom: 10px;
}

.for_all_windows {
    display: flex;
    flex-direction: column;
    text-align: center;
/*    align-content: center;*/
/*    align-items: center;*/
    margin: 10px;
}

input{
    width: 100%;
    padding: 12px 20px;
/*    margin: 8px 0;*/
    box-sizing: border-box;
    background-color: #FFA500;
    border: none;
}

input[type=text] { 
/*    color: white;*/
}

input:focus {
/*    border: 3px solid #555;*/
    background-color: #FF8C00;
}

select {
  width: 100%;
  padding: 16px 20px;
  border: none;
/*  border-radius: 4px;*/
  background-color: #FFA500;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #FFA500;
  border: none;
/*  color: white;*/
  padding: 16px 32px;
  text-decoration: none;
/*  margin: 4px 2px;*/
  cursor: pointer;
    transition-duration: 0.5s;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: #FF8C00;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition-duration: 0.5s;
}

label{
    text-align: left;
}
p{
    text-align: left;
/*    margin: 10px 5px;*/
/*    overflow: hidden;*/
}
.just-text {
    margin: 5px;
}

a{
    text-decoration: none;
    color: black;
}

img{
    margin: 0;
    padding: 0;
}
#logos {
    width: 100%;
    margin: 0;
    padding: 0;
}

#dlya_vizova_funczii {
    display: none;
}

.news {
    background-color: #c7e2e2;
    height: 100px;
    width: calc(100% - 40px);
    margin: 10px;
    padding: 10px;
    text-align: center;
    overflow: hidden;
}

.button {
    background-color: yellow;
    background-color: #FFA500;
}

.buttons {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 100%;
}

.hidden {
    display: none;
}

.orders {
    display: flex;
/*    height: 60px;*/
    height: auto;
/*    widows: 100%;*/
    flex-direction: row;
    background-color: aqua;
    margin-bottom: 10px;
    background-color: #c7e2e2;
/*    align-items: center;*/
}

.orders>div{
    display: flex;
/*    justify-content: center;*/
    width: 100%;
    height: 100%;
    transition-duration: 0.5s;
/*    если есть распологает ребенка по середине, горизонтально*/
    justify-content: center;
/*    если есть то распологает ребенка внтури блока, по центу*/
    align-items: center;
    text-align: center;
}
.button_click:hover {
    background-color: #FFA500;
}

#style_of_order {
    display: flex;
    flex-direction: row;
}
#style_of_order>div>h2{
    text-align: center;
}
#style_of_order>div{
    padding: 10px;
    margin: 10px;
    background-color: aqua;
}

#all_features {
    flex: 1;
}

#add_redactirovanie {
    flex: 3;
}

#module_find>form{
    display: flex;
    flex-direction: row;
}
#module_find>form>input{
    flex: 3;
    margin-bottom: 10px;
}
#module_find>form>input:last-child{
    margin-left: 10px;
    flex: 1;
}

#content {
    display: flex;
    flex-direction: column;
}
